*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}

#main_header{
    display: flex;
    height: 64px;
    margin: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
}

#header_logo{
    display: flex;
    align-items: center;
}

#header_logo img{
    height: 2.5rem;
}

#header_logo h2{
    color: gray;
    font-weight: 400;
    font-size: 1.4rem;
}

#header_logo h2 span{
    color: rgb(59, 59, 59);
    font-weight: 700;
}

#header_menu ul{
    display: flex;
}

#header_menu ul li{
    margin: 8px;
    list-style: none;
}

#header_menu ul a{
    color: gray;
    text-decoration: none;
}

#header_menu ul a:hover{
    color: black;
}

.section_one{
    display: flex;
    background-color: #d8d8d8;
    width: 100%;
}

.section_one .main_image{
    margin: 2rem 1.5rem;
    width: 60%;
    min-width: 500px;
    
}

.section_one_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .7;
}

.section_one_text .big_title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin: 0 1rem 1rem 0;
}

.section_one_text .big_subtitle{
    font-size: 1.5rem;
    color: black;
    margin: 1rem 1rem 1rem 0;
}

#section_one_button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-weight: 100;
    height: 3rem;
    width: 90%;
    background-color: #4a4a4a;
    opacity: 1;
    color: whitesmoke;
    margin: 1rem 0;

}

.section_one_button_link{
    text-decoration: none;
}

#section_one_button:hover{
    background-color: black;
}

#section_two{
    display: flex;
    width: 100%;
    height: auto;

}


.usual_title{
    font-size: 2.2rem;
    font-family: 'Segoe UI';
    font-weight: 700;
    color: #4a4a4a;
}

#section_two_bigarticle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 24px;
    border-right: 1px rgb(209, 209, 209) solid;
}

#section_two_container_smallarticles{
    width: 40%;
    
}

#section_two_container_smallarticles a{
    text-decoration: none;
}

.smallarticles{
    display: flex;
    padding: 24px;
    position: relative;
}


.smallarticles_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 0;
    min-width: 65%;
    width: 65%;
    height: auto;
}



.square_image{
    margin-right: 20px;
    min-width: 35%;
    width: 35%;
    height: auto;
    object-fit: cover
}

.smallarticles_text h3{
    color:#4a4a4a;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

.smallarticles_text p{
    color:#4a4a4a;
    font-size: .9rem;
    margin-bottom: 0.6rem;
}

.smallarticles_text p span{
    color: rgb(82, 82, 255);
    font-size: .9rem;
    margin-bottom: 0.6rem;
    transition: color 0.4s linear;
}

.smallarticles_text p span:hover{
    color:black;
}