*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    width: 100%;
}

.main_content{
    width: 100%;
}

#main_header{
    display: flex;
    height: 64px;
    margin: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
}

#header_logo{
    display: flex;
    align-items: center;
}

#header_logo img{
    height: 2.5rem;
}

#header_logo h2{
    color: gray;
    font-weight: 400;
    font-size: 1.4rem;
}

#header_logo h2 span{
    color: rgb(59, 59, 59);
    font-weight: 700;
}

#header_menu ul{
    display: flex;
}

#header_menu ul li{
    margin: 8px;
    list-style: none;
}

#header_menu ul a{
    color: gray;
    text-decoration: none;
}

#header_menu ul a:hover{
    color: black;
}




.section_one{
    display: flex;
    background-color: #d8d8d8;
    width: 100%;
}

.section_one .main_image{
    margin: 2rem 1.5rem;
    width: 60%;
    min-width: 500px;    
}

.section_one_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .7;
}

.section_one_text .big_title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin: 0 1rem 1rem 0;
}

.section_one_text .big_subtitle{
    font-size: 1.5rem;
    color: black;
    margin: 1rem 1rem 1rem 0;
}

#section_one_button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-weight: 100;
    height: 3rem;
    width: 90%;
    background-color: #4a4a4a;
    opacity: 1;
    color: whitesmoke;
    margin: 1rem 0;

}

.section_one_button_link{
    text-decoration: none;
}

#section_one_button:hover{
    background-color: black;
}

#section_two{
    display: flex;
    width: 100%;
    height: auto;

}


.usual_title{
    font-size: 2.2rem;
    font-family: 'Segoe UI';
    font-weight: 700;
    color: #4a4a4a;
}

#section_two_bigarticle{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 24px;
    border-right: 1px rgb(209, 209, 209) solid;
}

#section_two_bigarticle h2{
    margin: 12px 0 24px 0;
}

#section_two_bigarticle p{
    margin: 0 0 24px 0;
}

#section_two_container_smallarticles{
    width: 40%;
    
}

#section_two_container_smallarticles a{
    text-decoration: none;
}

.smallarticles{
    display: flex;
    padding: 24px;
    position: relative;
    align-items: center;
}


.smallarticles_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    min-width: 65%;
    width: 65%;
    height: auto;
}



.square_image{
    margin-right: 20px;
    min-width: 35%;
    width: 35%;
    height: auto;
    object-fit: cover;
}

.smallarticles_text h3{
    color:#4a4a4a;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

.smallarticles_text p{
    color:#4a4a4a;
    font-size: .9rem;
    margin-bottom: 0.6rem;
}

.smallarticles_text p span{
    color: rgb(82, 82, 255);
    font-size: .9rem;
    margin-bottom: 0.6rem;
    transition: color 0.4s linear;
}

.smallarticles_text p span:hover{
    color:black;
}

.section_three{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaebec;
}

.section_three_title{
    margin: 32px 0;
}

.section_three_resumes{
    width: 100%;
    padding: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_three_resumes_individual{
    background-color: white;
    margin: 1rem;
    width: 30%;
}

.section_three_resumes_individual img{
    width: 100%;
}

.section_three_texts{
    margin: 16px;
}

.section_three_courses{
    margin: 8px 0;
}

.section_four{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

.section_four_title{
    margin: 32px 0;
}

.section_four_container{
    width: 100%;
    display: flex;
}

.section_four_video{
    width: 60%;
    height: auto;
    margin: 0 24px
}

.section_four_video video{
    width: 100%;
    margin-bottom: 24px;
}

.section_four_list{
    width: 40%;
    height: 40%;

}

.section_four_list_object:hover{
    background-color:#eaebec;
}


.section_four_list_object{
    display: flex;
}

.section_four_list_object_image{
    width: 35%;
    height: auto;
    margin: 16px;
}

.section_four_list_object_text{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px 0 0;
}

.section_four_list_object_text p{
    margin: 16px 0;
    color: #4a4a4a;
}

.section_four_list_object_text h2{
    color: #4a4a4a;
}

.section_four_list_object_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section_four_video_text h2{
    color: #4a4a4a;

}

.section_four_video_text p{
    color: #4a4a4a;
    margin-top: 8px;
    margin-bottom: 32px;

}

footer{
    text-decoration: none;
    font-size: 1rem;
    font-weight: lighter;
    color: #4a4a4a;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    height: 10vh;
    padding-top: 16px;
}

footer div a{
    text-decoration: none;
    font-size: 1rem;
    color: #4a4a4a;
    padding: .7rem;
}

footer div {
    margin-right: 3%;
}

@media only screen and (min-width: 850px){
    .mobile_header_menu_list{
        display: none;
    }

    .square_image_mobile{
        display: none;
    }
}


@media only screen and (max-width: 850px){
    #header_menu{
        display: none;
    }

    #header_logo h2{
        display: none;
    }

    .section_one{
        flex-direction: column;
        width: 100%;
    }

    .section_one .main_image{
        margin: 0;
        margin-bottom: 32px;
        width: 100%;
        min-width: 0px;

    }
    
    .section_one_text {
        margin: 16px;
    }

    .section_one .main_image img{
        width: 100vw;    
    }

    #section_two_bigarticle{
        display: none;
    }

    #section_two_container_smallarticles{
        width: 100%;;
    }

    .smallarticles{
        flex-direction: column;
        align-items: flex-start;
    }

    .smallarticles_text{
        margin-left: 16px;
        padding-top: 1rem;
    }


    .square_image{
        display: none;
    }

    .square_image_mobile{
        width: 100%;
    }

    .section_three{
        background-color: white;
        padding: 0 1rem;
    }

    .section_three_resumes{
       flex-direction: column;
       padding: 0;
       margin: 0;
       width: 100%;
    }

    .section_three_resumes_individual{
        background-color: #d8d8d8;
        width: 100%;
        margin: 0 0 0.50rem 0;
    }

    .section_three_resumes_individual img{
        display: none;
    }

    .section_three_resumes_individual p{
        display: none;
    }

    .section_three_texts{
        margin: 16px;
    }


}